.container {
  position: relative;
  width: 100dvw;
  height: 100dvh;
}
.overlay {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  h1 {
    width: 100%;
    text-align: left;
  }
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field {
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
  }
  input {
  }

  & + & {
    margin-top: 20px;
  }
}

.loginButton {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  outline: none;
  color: white;
  background-color: #1d9bf0;
  cursor: pointer;

  &:hover {
    background-color: #1a8cd8;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
